@import "../../../assets/variables";
.box {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.box-image {
    display: block;
    margin: auto;
    max-width: 250px;
    width: 100%;
}

.btn-block {
    align-items: center;
    display: flex;
    justify-content: space-between;    
}

.box-price {
    color: $color-primary;
    font-weight: bold;
    margin: 0 $gap-vertical 0;
}

.add-to-basket {
    border: 1px solid $color-border;
    background: $color-success;
    color: $color-white;
    display: block;
    margin: auto;
    padding: $gap-inner/2 $gap-inner;
    width: 50%;
}