@import "../assets/variables";
.container {
    box-sizing: border-box;
    margin: auto;
    max-width: 1600px;
    padding: $gap-inner;
    width: 100%;
}

.header {
    background: $color-white;
    box-sizing: border-box;
    margin-bottom: $gap-vertical;
    width: 100%;
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        max-width: 120px;
        width: 100%;
    }
    .menu {
        position: relative;
        .menu-button {
            background: $color-white;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid $color-border;
            color: $color-primary;
            font-weight: bold;
            height: 50px;
            width: 50px;
        }
        .menu-items {
            background: $color-white;
            border: 1px solid $color-border;
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 100%;
            .menu-item {
                display: block;
                padding: $gap-inner-vertical;
                .link {
                    text-decoration: none;
                }
                &:hover {
                    .link {
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover {
            .menu-items {
                display: block;
            }
        }
        @media only screen and (min-width: 500px) {
            .menu-button {
                display: none;
            }
            .menu-items {
                border: 0;
                display: block;
                position: relative;
                .menu-item {
                    display: inline-block;
                }
            }
        }
    }
}

.content {
    width: 100%;
    .container {
        background: $color-white;
    }
}

.footer {
    width: 100%;
    .container {
        text-align: center;
    }
}