<!-- Main layout -->
<div class="header">
    <div class="container">
        <a href="/">
            <img class="logo"
                src="https://s.favi.cz/static/frontend/_global/images/favi-logo/favi-logo.60d511aff13247dd52f15acf6bdf2af9.svg"
                role="banner">
        </a>

        <nav class="menu" role="navigation">
            <button class="menu-button">MENU</button>
            <ul class="menu-items">
                <li class="menu-item"><a routerLink="/home" class="link">Home</a></li>
                <li class="menu-item"><a routerLink="/catalog" class="link">Catalog</a></li>
            </ul>
        </nav>

        <app-basket></app-basket>
    </div>
</div>

<div class="content" role="main">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="footer" role="contentinfo">
    <div class="container">
        <p>This is a demo project for coding skills presentation. :)</p>
    </div>
</div>