// colors
$color-primary: #a61932;
$color-secondary: #6fb098;
$color-success: #6cbf6c;
$color-info: #7da7d9;
$color-warning: #f36171;
$color-background: #e2f3ee;
$color-border: #e8e8e8;
$color-white: #fff;
$color-black: #000;
//font
$font-family-primary: Arial,Helvetica,sans-serif;
$font-size: 16px;
// gaps
$gap-inner-vertical: 10px;
$gap-inner: 15px;
$gap-vertical: 20px;