/* Global project styleguide */

@import "./assets/variables";

// basic html elements
body {
    background: $color-background;
    font-family: $font-family-primary;
    font-size: $font-size; // 1rem = 16px
    margin: 0;
    padding: 0;
}

h1,h2,h3{}

a {
 color: $color-primary;
}

// form - input
// form - button

